
html { height: 100%;
  box-sizing: border-box;
}

body {
    min-height: 100%;
    min-width:400px;
    padding:30px 30px 0px 30px;
}

a { color: inherit; }

/*              */



.menucontainer{
    width:45px;
    background-color:#afa89c;
    border-radius: 3px;
    opacity:.7;
    padding:0px;
    position:fixed;
    top:20px;
    height:270px;
    margin:10vh 0px 0px 15px;
    z-index:100;
    box-shadow: 1px 6px 6px rgba(0,0,0,0.16), 1px 6px 6px rgba(0,0,0,0.23);
}
.dropdownelement{
    text-decoration:none;
    cursor:pointer;
    list-style-type: none;
    color:white;
    font-size:18px;
    padding:13px;
    height:60px;

}
.dropdownelement:hover{
    background-color: rgba(0,0,0,.2);
}
.dropdownelementselected{
    text-decoration:none;
    list-style-type: none;
    color:white;
    font-size:19px;
    padding:13px;
    height:60px;
    background-color: rgba(225,225,225,.3);
}

.dropdownelementburger{
    padding:13px;
    margin-bottom: 40px;
    font-size:15px;
    padding-left:14px;
    text-decoration:none;
    list-style-type: none;
    color:white;
    font-size:18px;
    cursor:pointer;
}


/*      HOMEPAGE        */

.fullmenucontainer{
    padding:5px 0px 5px 0px;
    background-color: #dbdbdb;
    margin:0;
    text-align: center;
}
.fullmenuitem{
    display:inline-block;
    text-align: center;
    height:50px;
    width:50px;
    font-size: 20px;
    color:white;
    text-decoration:none;
    list-style-type: none;
    border-radius: 75px;
    padding-top: 10px;
    border: 2px solid rgba(255,255,255,.25);
    background-color: rgba(255, 138, 101,.7);
    cursor:pointer;
    padding-bottom: 10px;
}
.fullmenuitemselected{
    display:inline-block;
    text-align: center;
    margin: 0px 8vw 0px 8vw;
    height:50px;
    width:50px;
    font-size: 19px;
    border-radius: 75px;
    padding-top: 10px;
    padding-left:2px;
    color:white;
    text-decoration:none;
    list-style-type: none;
    border: 2px solid rgba(255, 138, 101,.9);
    background-color: rgba(0, 0, 0,.6);
}
.fullmenuitem:hover{
    background-color: rgba(0,0,0,.4);
}



#homepageheadercontainer{
    padding:125px 0px 100px 0px;
    background-image: url('../images/HeaderBackground2.png');
    background-size: 100% 100%;
}

#headertitle{
    font-family: 'Raleway';
    padding-left: 75px;
    padding-right:18.5vw;
    margin:0;
    margin-top: -40px;
}
#headerdescription{
    font-family: 'Raleway';
    color: #ff7043;
    padding:5px;
    font-size: 23px;
    margin-top: -30px;
    white-space: nowrap;
}
#headerhr{
    height:2px;
    width:75px;
    background-color:black;
    margin:5px 0px 45px 75px;
}
#description{
    font-family: 'Anaheim';
    color:#7a7a7a;
    padding-left: 75px;
}

/*              */

#homepagegifcontainer{
    width:415px;
    height:440px;
    padding:5px;
    float:right;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#homepagegifcaption{
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;

}



#overviewcontainer{
    background-color: rgba(100, 100, 100,.3);
    padding:30px 0px 40px 0px;
    margin-top: 30px;
    /*border-right:25px solid #e5e5e5;
    border-left:25px solid #e5e5e5;*/
}
.subsectionname{
    color: #ffab91;
    text-align: center;
    font-family: 'Raleway';
    font-size:23px;
    padding:20px;
}

.overviewmain1{
    color:#595050;
    font-size:17px;
    border: 2px solid rgba(255,255,255,.25);
    margin-top: 3px;
    padding:30px 60px 20px 60px;
    background-color: rgba(255, 255, 255,.6);
    font-family: 'Dosis';
    border-radius: 5px;
    width:inherit;
}

#footercontainer{
    font-size:12px;
    color:#423a37;
    font-family: 'Roboto';
    margin: 2px 0px 0px 0px;
    text-align: center;
}

.footertitle{
    font-family: 'Raleway';
    font-size: 14px;
    color:  #c9c7c7;
    text-align: center;
    padding:20px;
}
#researchtext{
    padding:60px 10% 80px 10%;
    background-color: #686868;
    color: #c9c7c7;

}
#locationtext{
    padding:70px 0px 60px 0px;
    background-color: #545353;
    color: #c9c7c7;
}


#footer{
    padding:30px 0px 15px 0px;
    color: rgba(0, 0, 0,.8);
    font-size: 9px;
    text-align: center;
}
