
html { height: 100%;
  box-sizing: border-box;
}

body {
    min-height: 100%;
    min-width:400px;
    padding:20px 20px 0px 20px;
}

a { color: inherit; }

a:link, a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}
/*              */


.menucontainer{
    width:45px;
    background-color:#afa89c;
    border-radius: 5px;
    opacity:.7;
    padding:0px;
    position:fixed;
    top:20px;
    height:270px;
    margin:6vh 0px 0px 15px;
    z-index:100;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.16), 1px 3px 3px rgba(0,0,0,0.23);
}
.dropdownelement{
    cursor:pointer;
    color:white;
    font-size:18px;
    padding:13px;
    height:60px;
}
.dropdownelement:hover{
    background-color: rgba(0,0,0,.2);
}
.dropdownelementselected{
    color:white;
    font-size:19px;
    padding:13px;
    height:60px;
    background-color: rgba(225,225,225,.3);
}

.dropdownelementburger{
    padding:13px;
    margin-bottom: 40px;
    font-size:15px;
    padding-left:14px;
    text-decoration:none;
    list-style-type: none;
    color:white;
    font-size:18px;
    cursor:pointer;
}


#headercontainer{
    padding: 140px 0px 100px 0px;
    background-color:rgba(230, 230, 230,.9);
    background-image: url('../images/HeaderBackground3.png');
    background-size: 100% 100%;
}

#headertitle{
    font-size:52px;
    font-family: 'Raleway';
    padding-left: 90px;
    padding-right:18.5vw;
    margin:-20px 0px 0px 0px;
}
#headerdescription{
    font-family: 'Raleway';
    color: #ff7043;
    padding:10px;
    font-size: 24px;
    white-space: nowrap;
    padding-left: 100px;
}
#headerhr{
    height:2px;
    width:125px;
    background-color:black;
    margin:15px 0px 30px 100px;
}
#description{
    font-family: 'Anaheim';
    font-size:20px;
    color:#7a7a7a;
    padding-left: 100px;
}


.subsectionname{
    text-align: center;
    font-family: 'Raleway';
    font-size:29px;
    margin:50px 0px 25px 0px;
}





/*     PUBLICATIONS/BOOKS         */


.bookmodalbutton{
    font-size: 16px;
    font-family: 'Dosis';
    user-select:none;
    padding:10px 35px 10px 35px;
    border: 2px #3e3e3f solid;
    background-color: transparent;
    border-radius: 0px;
    cursor:pointer;
    color:#3e3e3f;
    margin-left:100px;
    margin-top: 30px;
}
#booktitle{
    font-family: 'Raleway';
    color: #ff7043;
    font-size: 15px;
    height:30px;
}

#publicationscontainer{
    padding:20px 70px 50px 70px;
    margin:2px 0px 30px 0px;
    background-color:#f9f9f9;
}

#footer{
    padding-top:100px;
    color: rgba(0, 0, 0,.8);
    font-size: 9px;
    text-align: center;
}

