
html { height: 100%; 
}
body { 
    min-height: 100%;  
    padding:10px 30px 0px 30px;
    min-width: 640px;
}
a { color: inherit; } 



#sidebar{
    width:45px;
    background-color:#afa89c;
    border-radius: 5px;
    opacity:.85;
    padding:0px;
    position:fixed;
    height:330px;
    margin:3vh 0px 0px 20px;
    z-index:100;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.dropdownelement{
    text-decoration:none;
    cursor:pointer;
    list-style-type: none;
    color:white;
    font-size:18px;
    padding:13px;
    height:60px;

}
.dropdownelement:hover{
    background-color: rgba(0,0,0,.2);
}
.dropdownelementselected{
    text-decoration:none;
    cursor:pointer;
    list-style-type: none;
    color:white;
    font-size:19px;
    padding:13px;
    height:60px;
    background-color:;
    background-color: rgba(225,225,225,.3);
}

#dropdownelementburger{
    padding:13px 13px 80px 13px;
    font-size:15px;
    padding-left:14px;
    text-decoration:none;
    list-style-type: none;
    color:white;
    font-size:18px;
    height:50px;
    cursor:pointer;
}

#homepageheadercontainer{
    padding:140px 0px 140px 120px;
    background-color: rgba(0,0,0,0.1);
    min-width:450px;
}

#headertitle{
    font-size:35px;
    font-family: 'Raleway';
    margin-bottom:15px;
    width:75vw;
}
#headerdescription{
    font-family: 'Raleway';
    color: #ff7043;
    padding:5px;
    font-size: 20px;
    white-space: nowrap;
}
#headerhr{
    height:2px;
    width:85px;
    background-color:black;
    margin:5px 0px 30px 0px;
}
#description{
    font-family: 'Anaheim'; 
    font-size:15px;
    width:47vw;
    padding-right:0px;
    color:#7a7a7a;
}


#homepagegifcontainer{
    width:415px;
    height:440px;
    padding:5px;
    float:right;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#homepagegifcaption{
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;

}

.subsectionname{
    color: #ffab91;
    text-align: center;
    font-family: 'Raleway';
    font-size:27px;
    padding:20px 0px 25px 0px;
}



#overviewcontainer{
    background-color: rgba(0,0,0,0.6);
    padding:20px 0px 30px 0px;
}
.overviewmain1{
    color:#e0e0e0;
    font-size:16px;
    border: 2px solid rgba(255,255,255,.25);
    padding:14px 19px 20px 19px;
    text-align: center;
    background-color: rgba(255,255,255,.1);
    font-family: 'Anaheim';
}


.bookmodalbutton{
    display:inline-block;
    font-size: 16px;
    font-family: 'Dosis';
    vertical-align: middle;
    user-select:none;
    padding:10px 35px 10px 35px;
    border: 2px #3e3e3f solid;
    background-color: transparent;
    border-radius: 0px;
    cursor:pointer;
    color:#3e3e3f;
    margin-left:35px;
}
#booktitle{
    font-family: 'Raleway';
    color: #ff7043;
    font-size: 15px;
    height:30px;
}

#publicationscontainer{
    padding:20px 90px 100px 90px;
}


.peopleimagestyle{
    width:290px;
    height:200px;
}













