#dropdownmenu{
	width:45px;
	height:100vh;
	background-color:#424242;
	padding:0px;
	float:left;

}
.dropdownelement{
	text-decoration:none;
	list-style-type: none;
	color:white;
	font-size:18px;
	padding:13px;
	height:50px;
}

#homepagegifcaption{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 500px;

}


#homepageheadercontainer{
    margin-left:30px;
    padding:5px;
    font-size:19px;
    height:200px;
}



#homepagegifcontainer{
	width:450px;
    height:470px;
    margin-left:50px;
    padding:5px;
    display:inline-block;
    vertical-align: top;
}

